// Basic Layout adjustments

body {
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: 'Raleway';
    color: #333;
}

#root {
    margin: 0 auto;
}

// Menu

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: #fefefe;
    margin: .5rem .5rem 0 .5rem;

    span {
        width: 30%;
        font-size: 2rem;
        font-weight: bold;
        color: #5f7cff;
        font-family: 'Raleway';
    }
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 4rem;
    justify-content: flex-end;

    li {
        font-size: 1rem;
        font-weight: 600;

        a {
            text-decoration: none;

            &:active,
            &:focus,
            &:visited {
                color: #333;
            }
        }
    }
}

nav li {
    display: flex;
}

@media only screen and (max-width: 600px) {

    nav ul {
        flex-direction: row;
        justify-content: space-around;
    }
}

// Main Container

.container {
    display: flex;
    padding: .5rem;
    gap: .5rem;
    justify-content: stretch;
    height: 87.7vh;
}

.container-menu {
    flex: 1;
    background-color: #f0f0f0;
    padding: 2rem;
}

.container-content {
    flex: 3;
    background-color: #fff;
    padding: 2rem;
}

.lapausa-selection {
    list-style: none;
    margin: 0;
    padding: 0;
}

.lapausa-selection li {
    margin-bottom: 20px;
}

.calculator form label,
.calculator form input {
    display: block;
    margin-bottom: 20px;
}

.texture {
    background-color: rgba(255, 255, 255, 0.95); // Semi-transparent background
    border-radius: 5px;
    backdrop-filter: blur(10px); // Applies the blur
    -webkit-backdrop-filter: blur(10px); // For Safari
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}